- if user_signed_in?
  = link_to "マイページ", new_user_registration_path, class: "header__right--btn"
- else
  .header__navi--rightMenu
    = link_to "ログイン", new_user_session_path, class: "header__navi--loginButton"
    = link_to "新規登録", new_user_registration_path, class: "header__navi--registrationButton"

.items
  - @items.each do |item|
    %ul.explain
      %li.item
        =image_tag item.images.last.url, size: "200x200"
      %li.item-name
        = item.name
      %li.item-price
        = item.price

