.header
  .header__symbol
    .header__symbol--icon-header
      = image_tag "icon-header.svg", alt: "Furima App", size: "140x40", class: "header__symbol--iconImage"
    = text_field_tag "searchWord", "", placeholder: "キーワードから探す" , class: "header__symbol--searchBox"
    .header__symbol--searchButton
      = icon("fas", "search", class:'header__symbol--searchImage') 
  .header__navi
    .header__navi--leftMenu
      .header__navi--categoryButton
        = link_to "カテゴリーから探す", categories_path
        =render "header"
      .header__navi--brandButton
        ブランド
    - if user_signed_in?
      .header__navi--rightMenu
        = link_to "マイページ", new_user_registration_path, class: "header__navi--mypageButton"
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__navi--logoutButton"
    - else
      .header__navi--rightMenu
        = link_to "ログイン", new_user_session_path, class: "header__navi--loginButton"
        = link_to "新規登録", new_user_registration_path, class: "header__navi--registrationButton"

.frontMain
  .frontMain__topVisual
    .frontMain__topVisual--mainVisual
      = image_tag "visual1.jpg", alt: "Image", class: "frontMain__topVisual--mainImage"
      .frontMain__topVisual--theme
        .frontMain__topVisual--subtitle
          人生を変えるフリマアプリ
        .frontMain__topVisual--subtitleExplain
          FURIMAは誰でもかんたんに出品・購入できる
          %br
          フリマアプリです
        .frontMain__topVisual--appIcon
          .frontMain__topVisual--apple
            = image_tag "appicon-apple.svg", alt: " Apple Store", size: "150x75", class: "main__topVisual--applestoreIcon"
          .frontMain__topVisual--googleplay
            = image_tag "appicon-google.png", alt: " Google Play", size: "180x75", class: "main__topVisual-googleplayIcon"

  .main__reason
    .main__reason--title
      FURIMAが選ばれる３つの理由
    %ul.main__reason--explains
      %li.main__reason--explain1
        .main__reason--image1
          = image_tag "reason1.jpg", alt: "理由1", size: "200x200", class: "main__reason--imageDate"
          .main__reason--first
            1
        .main__reason--subtitle1
          %span 3分
          ですぐに出品
        .main__reason--detail1
          スマホで入力するだけでかんたんに出品できる！
      %li.main__reason--explain2
        .main__reason--image2
          = image_tag "reason2.jpg", alt: "理由2", size: "200x200"
        .main__reason--second
          2
        .main__reason--subtitle2
          %span シンプル
          で使いやすい
        .main__reason--detail2
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.main__reason--explain3
        .main__reason--image2
          = image_tag "reason3.jpg", alt: "理由3", size: "200x200"
          .main__reason--third
            3
        .main__reason--subtitle3
          手数料
          %span 業界最安値
        .main__reason--detail3
          最大3%でお得に出品&購入！

  .main__middleVisual
    .main__middleVisual--mainVisual
      = image_tag "visual2.jpg", alt: " Image", class: "main__middleVisual--mainImage"
      .main__middleVisual--theme
        .main__middleVisual--subtitle
          会員数日本一位
        .main__middleVisual--subtitleExplain
          FURIMAは、フリマアプリで最も人気。
          %br
          出品・購入回数も業界最多です！
          %br
          ほしかったあの商品に出会えるかもしれません。
        .main__middleVisual--appIcon
          .main__middleVisual--apple
            = image_tag "appicon-apple.svg", alt: " Apple Store", size: "150x75", class: "hmain__middleVisual--applestoreIcon"
          .main__middleVisual--googleplay
            = image_tag "appicon-google.png", alt: " Google Play", size: "180x75", class: "hmain__middleVisual-googleplayIcon"

  .main__feature
    .main__feature--title
      FURIMAの特徴
    %ul.main__feature--explains
      %li.main__feature--explain1
        .main__feature--image1
          = image_tag "feature1.svg", alt: "特徴1", size: "200x200"
        .main__feature--subtitle1
          かんたんに売り買いできる
        .main__feature--detail1
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %li.main__feature--explain2
        .main__feature--image2
          = image_tag "feature2.svg", alt: "特徴2", size: "200x200"
        .main__feature--subtitle2
          売上金は即日振込に対応
        .main__feature--detail2
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！
      %li.main__feature--explain3
        .main__feature--image2
          = image_tag "feature3.svg", alt: "特徴3", size: "200x200"
        .main__feature--subtitle3
          様々な支払いに対応
        .main__feature--detail3
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

  .main__pickupCategory
    .main__pickupCategory--title
      ピックアップカテゴリー
    = link_to category_path(id: 2), class: "main__pickupCategory--subtitle" do
      新規投稿商品
    .main__pickupCategory--explains
      - @items.each do |item|
        %ul
          = link_to item_path(item) do
            %li.main__pickupCategory--image
              -if item.images.blank?
                No Image
              -else
                = link_to image_tag(item.images.last.url, size: "200x200"), item_path(item)
          %li.main__pickupCategory--product
            -if item.buyer_id.present?
              = item.name
              .main__pickupCategory--sold
                (SOLD)
            -else
              = item.name
          %li.main__pickupCategory--price
            = item.price.to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse + " 円"
          %li.main__pickupCategory--tax
            （税込）
            .main__pickupCategory--like
              ★0

  .main__pickupBrand
    .main__pickupBrand--title
      ピックアップブランド
    = link_to index_recent_posted_items_path, class: "main__pickupBrand--subtitle" do
      新規投稿商品
    .main__pickupBrand--explains
      - @brands.each do |brand|
        %ul
          = link_to item_path(brand) do
            %li.main__pickupBrand--image
              -if brand.images.blank?
                No Image
              -else
                = link_to image_tag(brand.images.last.url,  size: "200x200"), item_path(brand)
          %li.main__pickupBrand--product
            -if brand.buyer_id.present?
              = brand.name
              .main__pickupBrand--sold
                (SOLD)
            -else
              = brand.name
          %li.main__pickupBrand--price
            = brand.price.to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse + " 円"
          %li.main__pickupBrand--tax
            （税込）
            .main__pickupBrand--like
              ★0
            
  .main__bottomVisual
    .main__bottomVisual--mainVisual
      = image_tag "visual3.jpg", alt: "Image", class: "main__bottomVisual--mainImage"
      .main__bottomVisual--theme
        .main__bottomVisual--subtitle
          だれでもかんたん、人生を変えるフリマアプリ
        .main__bottomVisual--subtitleExplain
          今すぐ無料ダウンロード！
        .main__bottomVisual--appIcon
          .main__bottomVisual--apple
            = image_tag "appicon-apple.svg", alt: " Apple Store", size: "150x75", class: "hmain__bottomVisual--applestoreIcon"
          .main__bottomVisual--googleplay
            = image_tag "appicon-google.png", alt: " Google Play", size: "180x75", class: "hmain__bottomVisual-googleplayIcon"

= render 'footer'

- if user_signed_in?
  = link_to new_item_path do
    .purchaseButton
      .purchaseButton__text
        出品する
      = icon("fas", "camera", class:'purchaseButton__image')
- else
  = link_to new_user_session_path do
    .purchaseButton
      .purchaseButton__text
        出品する
      = icon("fas", "camera", class:'purchaseButton__image')


