.main
  .main__block
    = form_for @item do |f|
      %h2.head
        商品情報入力
      .image-block
        .image-block__form
          %b.item-head
            出品画像
          %b#require 必須
        %p 最大5枚までアップロードできます
        .float-box
          .item-num-0#image-block__boxes
            %label.image-label{for: "item_images_attributes_0_url"}
              .image-block__boxes__image-box
                %i.fas.fa-camera
              = f.fields_for :images do |image|
                = image.file_field :url, type: 'file', class: "hidden-field", data: {image: image.index}
    
      .item-info
        .item-info__name-block
          .item-info__name-block__form
            %b.item-head
              商品名
            %b#require 必須
          = f.text_field :name, class: 'item-info__name-block__name-box'
        
        .item-info__descript
          .item-info__descript__form
            %b.item-head
              商品の説明
            %b#require 必須
          = f.text_area :text, class: 'item-info__descript__descript-box', rows: '7', placeholder:"商品の説明（1000文字以内）"

      .item-detail
        %p 商品の詳細
        .item-detail__category
          .item-detail__category__form
            %b.item-head
              カテゴリー
            %b#require 必須
          .item-detail__categories
            = f.collection_select :category_id, @category_parent_array, :id, :name, {prompt: "選択してください"}, {id: 'parent_category', class: 'item-detail__categories__category-box'}


          .item-detail__brand
            .item-detail__brand__form
              %b.item-head
                ブランド
              %b#require 任意
            = f.text_area :brand_id, class: "brand-input"


          .item-detail__status
            .item-detail__status__form
              %b.item-head
                商品の状態
              %b#require 必須
            = f.select :condition, [["新品、未使用", 1], ["未使用に近い", 2], ["目立った傷や汚れなし", 3], ["やや傷や汚れあり", 4], ["傷や汚れあり", 5], ["全体的に状態が悪い", 6]]

        .item-send
          %p 配送について
          .item-send__area
            .item-send__area__form
              %b.item-head
                発送元の地域
              %b#require 必須
            = f.text_area :shipping_origin, class: "area-box"
          
          .item-send__shipping-charge
            .item-send__shipping-charge__form
              %b.item-head
                配送料
              %b#require 必須
            .item-send__shipping-charge__input
              %span ¥
              = f.number_field :shipping_charge, class: "charge-box"
          
          
          .item-send__day
            .item-send__day__form
              %b.item-head
                発送までにかかる日数
              %b#require 必須
            = f.select :shipping_schedule, [["1~2日で発送", 0],["2~3日で発送", 1],["4~7日で発送", 2]]
          

        .item-price
          %p 価格（¥300~9,999,999）
          .item-price__contents
            .item-price__contents__form
              %b.item-head
                販売価格
              %b#require 必須
            .item-price__contents__input 
              %span ¥
              = f.number_field :price, class:"item-price__contents__input__price-box"

        = f.submit '出品する', class: 'submit-btn'
        
      
