.main
  .detail-box
    %h1.item-name
      = @item.name
    .detail-box__item-main-content 
      .detail-box__item-main-content__image-area
        .detail-box__item-main-content__image-area__item-photo
          = image_tag src="/assets/test1.jpg", size: '300x300'
        .detail-box__item-main-content__image-area__item-photos
          = image_tag scr="/assets/test2.jpg", size:'60x60'
          = image_tag scr="/assets/test1.jpg", size:'60x60'
          = image_tag scr="/assets/test3.jpg", size:'60x60'
          = image_tag scr="/assets/test4.jpg", size:'60x60'
          = image_tag scr="/assets/test5.jpg", size:'60x60'
      %table{border: "2", bordercolor: ""}
        %tr
          %th 出品者
          %th
            = @item.user.nickname
        %tr
          %td カテゴリー
          %td 
            %a{href: "https://www.mercari.com/jp/category/2/"}
              メンズ
            %br 
            %a{href: "https://www.mercari.com/jp/category/30/"}
              >トップス
            %br 
            %a{href: "https://www.mercari.com/jp/category/310/"}
              >スウェット

        %tr
          %td ブランド
          %td
            = @item.brand.name
        %tr
          %td 商品のサイズ
          //サイズカラム
          %td= @item.size
        %tr
          %td 商品の状態
          %td
            = @item.condition
        %tr
          %td 配送料の負担
          %td
            = @item.shipping_charge
        %tr
          %td 配送の方法
          %td= @item.shipping_way
        %tr
          %td 発送元地域
          %td
            = @item.shipping_origin
        %tr
          %td 発送日の目安 
          %td
            = @item.shipping_schedule
    
    .detail-box__price-box
      %span.item-price
        = @item.price.to_s(:delimited)
      %span.item-tax (税込)
      %span.item-shipping-fee 送料込み

    = link_to "購入画面に進む", new_payment_path, class: "detail-box__buy-btn"


    .detail-box__description
      .detail-box__description__inner
        = simple_format(@item.text)

  .comment-box
    .comment-box__comment-container
      = form_for [@item, @comment] do |f|
        .comment-textarea
          = f.text_area :text, placeholder: "コメントする", rows: 2
        .field
          = f.submit '投稿する'
      .comment-box__comment-container__comments
        %h4＜コメント一覧＞
        .comment-box__comment-container__comments__comments-list




