.main
  .detail-box
    %h1.item-name ディーゼル  トレーナー  XL
    .detail-box__item-main-content 
      .detail-box__item-main-content__image-area
        .detail-box__item-main-content__image-area__item-photo
          = image_tag src="/assets/test1.jpg", size:'300x300'
        .detail-box__item-main-content__image-area__item-photos
          = image_tag scr="/assets/test2.jpg", size:'60x60'
          = image_tag scr="/assets/test1.jpg", size:'60x60'
          = image_tag scr="/assets/test3.jpg", size:'60x60'
          = image_tag scr="/assets/test4.jpg", size:'60x60'
          = image_tag scr="/assets/test5.jpg", size:'60x60'
      %table{border: "2", bordercolor: ""}
        %tr
          %th 出品者
          %th 渡辺直美
        %tr
          %td カテゴリー
          %td 
            %a{href: "https://www.mercari.com/jp/category/2/"}
              メンズ
            %br 
            %a{href: "https://www.mercari.com/jp/category/30/"}
              >トップス
            %br 
            %a{href: "https://www.mercari.com/jp/category/310/"}
              >スウェット

        %tr
          %td ブランド
          %td ディーゼルの偽物
        %tr
          %td 商品のサイズ
          %td XXO(OO)
        %tr
          %td 商品の状態
          %td 新品、未使用
        %tr
          %td 配送料の負担
          %td 送料込み(出品者負担)
        %tr
          %td 配送の方法
          %td ラクラクフリマ便
        %tr
          %td 発送元地域
          %td 知床半島
        %tr
          %td 発送日の目安 
          %td 2~3日で発送
    
    .detail-box__price-box
      %span.item-price ¥7,400
      %span.item-tax (税込)
      %span.item-shipping-fee 送料込み

    %a{href: "#", class:"detail-box__buy-btn"}
      購入画面に進む

    .detail-box__description
      .detail-box__description__inner
        %p この商品はdieselのトレーナーです。
        
        %p 新品未使用のサイズはXLです。
        
        %p 気になった事や値下げ交渉などは気軽にコメントしてください
        
        
        %p \#DIESEL
        %p \#diesel
        %p \#ディーゼル
        %p \#トレーナー
        %p \#スウェット

  .comment-box
    .comment-box__comment-container
      .comment-box__comment-container__comments
        %h4＜コメント一覧＞
        .comment-box__comment-container__comments__comments-list
      %textarea{type:"text", class: "comment-textarea", placeholder: "コメントする", rows: 2}



