=render "mainheader"

.main
  .detail-box
    %h1.item-name
      -if @item.buyer_id.present?
        = @item.name
        .soldImage
          (SOLD)
      -else
        = @item.name
    .detail-box__item-main-content 
      .detail-box__item-main-content__image-area
        - if @item.images.count > 1
          - @item.images.first(1).each do |image|
            .detail-box__item-main-content__image-area__item-photo
              = image_tag image.url, size: '300x300'
          - @item.images[1..-1].each do |image|
            .detail-box__item-main-content__image-area__item-photos
              = image_tag image.url, size:'60x60'
        - elsif @item.images.count == 1
          - @item.images.first(1).each do |image|
            .detail-box__item-main-content__image-area__item-photo
              = image_tag image.url, size: '300x300'
      
      .table
      %table{border: "2", bordercolor: ""}
        %tr
          %th 出品者
          %td hoge
        %tr
          %th カテゴリー
          %td
            -if @item.category.nil?
            -else
              = @item.category.name
        %tr
          %th ブランド
          %td
            -if @item.brand.nil?
            -else
              = @item.brand.name
        %tr
          %th 商品のサイズ
          %td
            = @item.size
        %tr
          %th 商品の状態
          %td
            = @item.condition
        %tr
          %th 配送料の負担
          %td
            = @item.shipping_charge + " 円"
        %tr
          %td 発送元地域
          %td
            = @item.shipping_origin
        %tr
          %th 発送日の目安 
          %td
            = @item.shipping_schedule
    
    .detail-box__price-box
      %span.item-price
        = @item.price.to_s(:delimited) + " 円"
      %span.item-tax (税込)
      %span.item-shipping-fee 送料込み
    -if @item.buyer_id.present?
      %br
      %br
      %br
    -else
      - if @item.user == current_user
        .detail-box__edit-btn
          = link_to 'この商品を編集する', edit_item_path(@item), class: "edit"
          = link_to 'この商品を削除する', item_path(@item), method: :delete, class: "destroy", data: { confirm: '本当に削除しますか?' }
      - elsif user_signed_in?
        .detail-box__buy-btn
          = link_to "購入画面に進む", confirmation_item_path(@item), class: "detail-box__buy-btn"
      - else
        .detail-box__login-btn
          = link_to "ログインしてください", new_user_session_path, class: "header__navi--loginButton"
          = link_to "新規登録してください", new_user_registration_path, class: "header__navi--registrationButton"

    .detail-box__description
      .detail-box__description__inner
        = simple_format(@item.text)

  .comment-box
    .comment-box__comment-container
      = form_for [@item, @comment] do |f|
        .comment_rule
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        .comment-textarea
          = f.text_area :text, placeholder: "コメントはこちら", size: "65x5", class:"comments_text"
        .field
          = f.submit 'コメント', class: "comments_button"
    - if @item.comments
      .comment-box__comment-container__comments
        %h4＜コメント一覧＞
        - @item.comments.each do |comment|
          .comment-box__comment-container__comments__comments-list
            = comment.user.nickname
            さん：
            = comment.text

=render "footer"