.header
  .header__symbol
    .header__symbol--icon-header
      = image_tag "icon-header.svg", alt: "Furima App", size: "140x40", class: "header__symbol--iconImage"
    = text_field_tag "searchWord", "", placeholder: "キーワードから探す" , class: "header__symbol--searchBox"
    .header__symbol--searchButton
      = icon("fas", "search", class:'header__symbol--searchImage') 
  .header__navi
    .header__navi--leftMenu
      .header__navi--categoryButton
        = link_to "カテゴリーから探す", categories_path
        =render "items/header"
      .header__navi--brandButton
        ブランド
    - if user_signed_in?
      .header__navi--rightMenu
        = link_to "マイページ", new_user_registration_path, class: "header__navi--mypageButton"
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__navi--logoutButton"
    - else
      .header__navi--rightMenu
        = link_to "ログイン", new_user_session_path, class: "header__navi--loginButton"
        = link_to "新規登録", new_user_registration_path, class: "header__navi--registrationButton"
        
- breadcrumb :category_top
=render "layouts/breadcrumbs"

- @parents.each do |parent|
  =link_to category_path(parent) do
    =parent.name
